<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>

                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product col-md-4 col-xs-6">
                                    <div class="product-img">
                                        <img src="assets/img/Honda.jpg" alt="">
                                        <div class="product-label">
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Honda</p>

                                        </h4>

                                    </div>

                                </div>
                                <!-- /product -->

                                <!-- product -->
                                <div class="product col-md-4 col-xs-6">
                                    <div class="product-img">
                                        <img src="assets/img/Kawasaki.png" alt="">
                                        <div class="product-label">

                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Kawasaki</p>

                                        </h4>


                                    </div>

                                </div>
                                <!-- /product -->

                                <!-- product -->
                                <div class="product col-md-4 col-xs-6">
                                    <div class="product-img">
                                        <img src="assets/img/Yamaha.jpg" alt="">
                                        <div class="product-label">
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Yamaha</p>

                                        </h4>
                                       
                                    </div>

                                </div>


                                <!-- /product -->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->