<section class="vh-800 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem; background-color: #1a2035">
          <div class="card-body p-5">

            <div class="mb-md-5 mt-md-4 pb-5 text-center">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <!-- Email Field -->
              <div class="mb-4 text-start">
                <label class="form-label text-white" for="typeEmailX">Email</label>
                <input type="email" ng-model="username" id="typeEmailX" class="form-control form-control-lg" />
                <small class="text-danger d-block mt-1" ng-if="emailError">{{ emailError }}</small>
              </div>

              <!-- Password Field -->
              <div class="mb-4 text-start">
                <label class="form-label text-white" for="typePasswordX">Password</label>
                <input type="password" ng-model="password" id="typePasswordX" class="form-control form-control-lg" />
                <small class="text-danger d-block mt-1" ng-if="passwordError">{{ passwordError }}</small>
              </div>

              <!-- <p class="small mb-5 pb-lg-2 text-center">
                <a class="text-white-50" href="#!">Forgot password?</a>
              </p> -->


              <!-- Login button -->
              <div ng-show="!isForgotPW">
                <button type="button" class="btn btn-primary btn-block" ng-click="login()" ng-disabled="lockedOut">
                  Login
                </button>
                <p class="error" ng-if="lockoutMessage">{{ lockoutMessage }}</p>

                <!-- Forgot Password link -->
                <p class="text-center mt-2">
                  <a href="" ng-click="isForgotPW = true">Forgot Password?</a>
                </p>
              </div>

              <!-- Forgot Password section -->
              <div ng-show="isForgotPW">
                <button type="button" class="btn btn-primary btn-block" ng-click="sendResetEmail()"
                  ng-disabled="lockedOut">
                  Send Email
                </button>
                <p class="text-center mt-2">
                  <a href="" ng-click="isForgotPW = false;emailError=''">Back to Login</a>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>