<h1>Users</h1>

<div class="add-user-btn-container d-flex justify-content-between align-items-center mb-3">
    <div>
        <input class="form-control" type="text" placeholder="search" ng-model="searchQuery">
    </div>
    <div>
        <button type="button" class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal"
            data-bs-target="#userCreateModal" ng-click="addUserOnClick()">
            <i class="fa fa-plus"></i>
            Add User
        </button>
    </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="userCreateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userCreateModalLabel">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" ng-click="updateUserFields()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" ng-model="name" ng-blur="validateName()">
                    <span ng-show="nameHasError" style="color: red; font-size: 0.9em;">
                        Name is required.
                    </span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="email" ng-disabled="userId" ng-model="email"
                        ng-blur="validateEmail()">
                    <span ng-show="emailHasError" style="color: red; font-size: 0.9em;">
                        {{emailError}}
                    </span>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="password"
                        ng-blur="validatePassword()">
                    <span ng-show="passwordHasError" style="color: red; font-size: 0.9em;">
                        Password is required.
                    </span>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="text" class="form-control" id="confirmPassword" ng-model="confirmPassword"
                        ng-blur="validateConfirmPassword()">
                    <span ng-show="confirmPasswordHasError" style="color: red; font-size: 0.9em;">
                        {{confirmPasswordError}}
                    </span>
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select class="form-select" id="role" ng-change="validateRole()" ng-model="selectedUserRoleId"
                        ng-options="role.role_id as role.name for role in roles">
                        <option value="">-- Select Role --</option>
                    </select>
                    <span ng-show="selectedUserRoleIdHasError" style="color: red; font-size: 0.9em;">
                        Role is required.
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    ng-click="updateUserFields()">Cancel</button>
                <button ng-show="!userId" type="button" class="btn btn-primary"
                    ng-click="submit(userId)">Cofirm</button>
                <button ng-show="userId" type="button" class="btn btn-primary" ng-click="submit(userId)">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->

<div class="modal fade" id="deleteUserConfirmationModal" tabindex="-1"
    aria-labelledby="deleteUserConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserConfirmationModalLabel">Delete User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="deleteUserById()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | filter:roleFilter | filter:searchQuery">
                <td>{{($index + 1) + ((pagination.page - 1) * pagination.limit)}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role_name}}</td>
                <td>
                    <div class="action-btn-container">
                        <div>
                            <button type="button" class="btn btn-link btn-primary"
                                ng-click="updateUserOnClick(user.user_id)" data-bs-toggle="modal"
                                data-bs-target="#userCreateModal">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-link btn-danger" ng-click="deleteUserOnClick(user.user_id)"
                                data-bs-toggle="modal" data-bs-target="#deleteUserConfirmationModal">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <!-- Pagination controls -->
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div>
                <label>Show
                    <select ng-model="pageSize" ng-change="changePageSize()"
                        ng-options="s for s in [5,10,25,50]"></select>
                    entries
                </label>
            </div>

            <div>
                <button class="btn btn-sm btn-outline-primary" ng-disabled="pagination.page === 1"
                    ng-click="loadTransactions(pagination.page - 1)">
                    Prev
                </button>

                Page {{pagination.page}} of {{pagination.totalPages}}

                <button class="btn btn-sm btn-outline-primary" ng-disabled="pagination.page === pagination.totalPages"
                    ng-click="loadTransactions(pagination.page + 1)">next</button>

            </div>
        </div>

    </div>
</div>
</div>

</div>